<div class="login">
<div class="container">
   	<div class="form">

   	<%= image_tag("logo.png", :alt => "CatalogMe Logo") %>
   	 <p> &copy; CatalogMe&trade;</p>
   	 <p>2015 All Rights Reserved&reg;  </p>


	</div>
</div>
</div>
