<div class="login">
	<div class="container">
		<div class="form">

<h1> log in </h1>
<%= form_for :session, :url => login_path, :method => :post do |f| %>

  <%= f.email_field :email, :placeholder => "Email" %> 
  <%= f.password_field :password, :placeholder => "Password" %> 

  <!--div class="actions"-->    <!--where exactly this "actions" class is defined? I don't see a corresponding application.css there -->
    <br/>
    <%= f.submit "Submit", class: "btn-submit" %>
    <br/>
    <br/>
    <!--%= link_to 'Sign Up', 'user#create', class: "btn-register" %-->

    <!--/div-->
<% end %>

    	</div>
	</div>
</div>