<div class="login">
  <div class="container">
    <div class="form">
    	
<h1>Editing User</h1>

<%= render 'form' %>


<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>

    </div>
  </div>
</div>
