<h2 style="text-align:center">Hi, there!</h2>

<h4 style="text-align:center"> Welcome to kickassFinalProject app. </h4>

<h4 style="text-align:center"> This app allows you to store the list of your favorite movies and TV shows, and create a sharable link to recommend the list to your friends.</h4> 

<h3 style="text-align:center"> Cool, isn't it? </h3>

<br/>
<h5 style="text-align:center"> Note:  There are <%= User.count %> users currently registered for this app.</p> If you are an admin, you can see the list and change the roles for each user by clicking <b> <em> <%= link_to 'here', users_path %></em></b>.</h5>